.buttontwostyle {
    width: 362px;
    height: 64px;
    margin-top: 5rem;
    padding: 1.6rem 0;
    background-color: #0269BA;
    border: 1px solid #0269BA;
    border-radius: 8px;
    text-transform: uppercase;
}